<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Work Orders:</h3>
        <ul id="example-list" class="list-group">
          {{#each workOrder}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="workorder/{{this.id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        <a href = "newWorkOrder">Click this link to create a new work order</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>