<div class="container-fluid">
  <div class="container">
    <h2>
      <strong>Work Order</strong>
    </h2>
    <div class="row">
      <strong>ID</strong>: {{workOrder.id}}
    </div>
    <div class="row">
      <strong>Name</strong>: {{workOrder.name}}
    </div>
    <div class="row">
      <strong>Description</strong>: {{workOrder.description}}
    </div>

    {{!-- This button has a class of home we will use to take us back to --}}
    <div class="row">
      <div class="col-3">
        <button class="btn btn-primary home">Home</button>
      </div>
      <div class="col-3">
        <button class="btn btn-primary complete">Close Out W.O</button>
      </div>
      <div class="col-3">
        <button class="btn btn-primary submit">Submit</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>