<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>{{msg}}</h2>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="WorkOrder-Name">Client Name: </label>
                        <input type="text" class="form-control" id="WorkOrder-Name" aria-describedby="WorkOrder-Name"
                            placeholder="Client Name">
                    </div>
                    <div class="form-group">
                        <label for="WorkOrder-Description">Work Order Description: </label>
                        <textarea class="form-control" aria-describedby="WorkOrder-Description"
                            id="WorkOrder-Description"
                            placeholder="Labor, Material, Estimated Hours, Special Requests, Due Date, etc."></textarea>
                    </div>
                    {{!-- Turn this A tag in to a functioning REUSABLE home button --}}
                    <form action="/">
                        <button class="btn btn-success submit">Back To Home</button>
                    </form>

                    {{!-- Get this submit button working, get all of them working --}}
                    <form action="/">
                        <button class="btn btn-success submit">Submit</button>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>