<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h5 class="card-title">Work Orders</h5>

          <p>
            <strong>ID</strong>: {{workOrder.id}}
          </p>

          <p>
            <strong>Name</strong>: {{workOrder.name}}
          </p>

          <p>
            <strong>Description:</strong>: {{workOrder.description}}
          </p>

          <p>
            <strong>Completed</strong>: {{workOrder.completed}}
          </p>

          <div class="row">

            <div class="col">
              <button class="btn btn-primary">
                <a style = "text-decoration: none;" ="/">Back To Home</a>
              </button>
            </div>

            <div class="col offset-6">
              <button class="btn btn-secondary" id="newWorkOrderButton">
                New Work Order
              </button>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>